{
  "extends": "airbnb",
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "global-require": "off",
    "object-curly-spacing": [2, "always"],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2,2],
    "react/jsx-max-props-per-line": ["error", {"maximum": 1}],
    "react/jsx-sort-props": ["error", {"ignoreCase": true}],
    "react/sort-prop-types": ["error", {"ignoreCase": true}],
  },
  "plugins": [
    "babel",
    "react-hooks",
  ],
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "jest": true,
      "mocha": true,
      "node": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["context", "./src/context"],
          ["pages", "./src/pages"],
          ["ui", "./src/ui"],
          ["views", "./src/views"],
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
